body {
    
}
a, a.list-group-item-action {
    color: #821c45;
}
a:focus, a:hover, a.list-group-item-action:focus, a.list-group-item-action:hover {
    text-decoration: none;
    color: #bd73a1;
	background-color: transparent;
}
h2, h4 {
	color: #821c45;
}
.bg-black {
    background-color: #161616 !important;
}
.bg-primary {
    background-color: #821c45 !important;
}
.text-primary {
    color: #821c45 !important;
}

#mainNav {
    min-height: 56px;
    background-color: #ffffff;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #821c45;
    border: 1px solid #821c45;
}
#mainNav .navbar-toggler:focus {
    outline: none;
}
#mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
	font-size: 1rem;
}
#mainNav .navbar-brand:hover {
    color: #821c45;
}
#mainNav .navbar-brand:active {
    color: #821c45;
}
#mainNav .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
	color: #ffffff /*#161616*/;
}
#mainNav .navbar-brand {
    color: #161616;
	font-size: 1.25rem;
}
#mainNav .nav-link.active {
    color: #ffffff; /*#161616;*/
    outline: none;
    border-bottom: 0.25rem solid transparent;
}
#mainNav .nav-link:hover {
    color: #bd73a1;
}
#mainNav .nav-link:active {
    color: white;
}

#mainNav.navbar-shrink {
    background-color: #fff;
}
#mainNav.navbar-shrink .navbar-brand {
    color: #161616;
}
#mainNav.navbar-shrink .navbar-brand:hover {
    color: #821c45;
}
#mainNav.navbar-shrink .navbar-brand:active {
    color: #821c45;
}
#mainNav.navbar-shrink .nav-link {
    color: #161616;
    /*padding: 1.5rem 1.5rem 1.25rem;*/
    border-bottom: 0.25rem solid transparent;
}
#mainNav.navbar-shrink .nav-link:hover {
    color: #821c45;
}
#mainNav.navbar-shrink .nav-link:active {
    color: #bd73a1;
}
#mainNav.navbar-shrink .nav-link.active {
    color: #821c45;
    outline: none;
    border-bottom: 0.25rem solid #821c45;
}
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 32rem;
    padding: 12rem 0;
    background: url("../img/masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.masthead h1 {
}
.masthead h2 {
}
.masthead h3 {
	color: #821c45;
}
.masthead .container{
	min-width: 100%;
}
.masthead #info {
	background-color: rgba(0, 0, 0, .9);
	color: #ffffff;
	padding: 2rem;
}
img#colleen {
	border-radius: 1rem;
}
@media (min-width: 768px) {
.masthead h1 {
    font-size: 2rem;
    line-height: 2rem;
}
}

@media (min-width: 992px) {
.masthead {
    height: 100vh;
    padding: 0;
}
.masthead h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.8rem;
}
.masthead h2 {
}
}
.btn {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}
.btn-primary {
    background-color: #821c45;
}
.btn-primary:hover {
    background-color: #bd73a1;
}
.btn-primary:focus {
    background-color: #bd73a1;
    color: white;
}
.btn-primary:active {
    background-color: #bd73a1 !important;
}
.page-divider {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    padding: 50px 0;
}
#page-divider-1-bg {
    background-image: url("../img/page-break-1.jpg");
}
#page-divider-2-bg {
    background-image: url("../img/page-break-2.jpg");
}
#page-divider-3-bg {
    background-image: url("../img/page-break-1.jpg");
}
.passion-aim-section {
    padding: 5rem 0;
}
.about-section {
    padding: 5rem 0;
}
.services-section {
    padding: 5rem 0 0;
}
.contact-section {
    padding: 5rem 0;
}
.contact-section .card {
}
.contact-section .card h4 {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
.contact-section .card hr {
}
footer {
	padding: 5rem 0;
}